{% extends "layout.twig" %}

{% block content %}

<!-- Developer Signup Overlay -->
<div id="developer-signup" class="dev-overlay">

	<div class="dev-overlay-container">

		<div class="dev-signup-form">
			<div class="dev-signup-title">
				<img src="{{asset('images/logo-icon.png')}}" class="logo-icon">
				<h2>Developer Sign Up</h2>
			</div>
			<a href="#close" class="icon  icon--close"></a>
			{{zone('main')|raw}}
			<p class="dev-signup-text">Have an account? <a href="#developer-login">Login</a> here.</p>
		</div>

	</div>

</div>

<!-- Developer Login Overlay -->
<div id="developer-login" class="dev-overlay">

	<div class="dev-overlay-container">

		<div class="dev-login-form">
			<div class="dev-login-title">
				<img src="{{asset('images/logo-icon.png')}}" class="logo-icon">
				<h2>Developer Login</h2>
			</div>
			<a href="#close" class="icon  icon--close"></a>
			{{widget('userlogin','userlogin',{})|raw}}
			<p class="dev-signup-text">Don't have an account? <a href="#developer-signup">Signup</a> here.</p>
		</div>

	</div>

</div>

<!-- Sidebar Pullout Menu -->
{% include "includes/sidebar-pullout.twig" %}

<!-- Page Content -->
<section role="main" id="page-content" class="page-content">

	<section class="top-section">

		<div class="container">

			<!-- Theme Header -->
			{% include "includes/header.twig" %}

			<!-- Page Intro -->
			<div class="page-intro bg-color--green">

				<div class="container">

					{{widget('content', 'blog-intro_title', {"content":'<h1>Basekit Developer Blog</h1><p>Stay up to date with the latest theme, community and technical news.</p>'})|raw}}

				</div>

			</div>

		</div>

	</section>
	<!-- End Top Section -->

	<!-- Feature Blocks -->
	<section role="main" class="developer-blog">

		{{widget('blogpostlist', 'blogpostlist1', {})|raw}}
		
	</section>
	<!-- End Developer Blog -->

</section>
<!-- End Page Content -->

{% endblock %}
