{% extends "layout.twig" %}

{% block content %}


<!-- HEADER & NAVIGATION -->

{% include 'includes/header-small.twig' %}

<!-- Feature -->
	<div class="feature small alt-img">
	    <div class="feature-content">
	        <div class="container">
	        	{{widget('content', 'feature-heading-templates', {"content":'<h1>Frequently Asked Questions</h1><h4>Stuck at the first hurdle, have some questions about BaseKit? Check out our FAQ for our most common questions and answers.</h4>'})|raw}}
	        </div>
	    </div>
	</div>
</div>



<!-- MAIN SECTION -->

<div role="main" class="main faq">
	<div class="container">
		<dl class="faq-questions">

			<!--Getting Started Section-->

			<h5 class="btn" id="getting-started">Getting started</h5>

			{{widget('content', 'faq-what_is_basekit', {"content":'
				<dt>What is BaseKit?</dt>
				<dd>BaseKit is a hassle-free responsive website builder for web developers and designers, and an easy to use CMS for their clients. Get <a href="http://developers.basekit.com/#developer-signup">signed up</a>, <a href="http://docs.basekit.com/getting-started/">set up</a> and start creating beautiful websites within minutes.</dd>
				<dd>Want to use HTML and CSS? Check out our wealth of documentation and support <a href="http://developers.basekit.com/">here.</a></dd>
			'})|raw}}

			{{widget('content', 'faq-basekit_usage', {"content":'
				<dt>Where can I use BaseKit?</dt>
				<dd>As a developer you’ll be able to use the BaseKit Theme Viewer offline to edit and view your theme changes before you publish them online.
				The only time you will need online access is when adding content to a live site.</dd>
			'})|raw}}

			{{widget('content', 'faq-set_up', {"content":'
				<dt>How do I get everything set up?</dt>
				<dd>You may want to check out our <a href="http://docs.basekit.com/getting-started/">getting started documentation</a> at this point, as it will give you a step by step guide to have you up and running in no time.</dd>
			'})|raw}}

			{{widget('content', 'faq-basekit_themes', {"content":'
				<dt>Can I see a selection of themes already created using BaseKit?</dt>
				<dd>Of course, once you sign up <a href="http://developers.basekit.com/#developer-signup">here</a> you’ll be taken straight through to the Editor:</dd>
				<dd>Under the ‘Theme’ menu you’ll be able to see an option to browse themes - click here to gain access to a selection of themes created by our theme designers here at BaseKit. You can download and start coding these ready made themes, or you can download the Baseplate on the main landing page above (this is the barebones theme we know some of you prefer to get coding from).</dd>
			'})|raw}}

			<!--Support Section-->
			<h5 class="btn" id="support">Support</h5>

			{{widget('content', 'faq-documentation', {"content":'
				<dt>Do you have any documentation?</dt>
				<dd>Absolutely - check it out <a href="http://docs.basekit.com/">here</a>, and if you still can’t find what you’re looking for please feel free to pick our brains in the <a href="http://knowledge.basekit.com/">Knowledge forum.</a></dd>
			'})|raw}}

			{{widget('content', 'faq-client_support', {"content":'
				<dt>Where can I get support for my client and myself?</dt>
				<dd>Our developer portal is designed to give you, the developer, as much support as you need through documentation, the knowledge Q&amp;A forum and our developer blog.
				Your clients can also get a huge amount of support through our dedicated support team. Let us take that weight off your shoulders so you can concentrate on the more important things.</dd>
			'})|raw}}

			{{widget('content', 'faq-features', {"content":'
				<dt>Where can I find a list of your features and widgets?</dt>
				<dd>Take a look through our documentation for a full list of widgets and features.</dd>
			'})|raw}}

			<!--Theme Building Section-->
			<h5 class="btn" id="theme-building">Theme Building</h5>

			{{widget('content', 'faq-technologies', {"content":'
				<dt>What technologies does BaseKit themes use?</dt>
				<dd>BaseKit themes use CSS3 and HTML5. You can also use any Javascript libraries to bring your site to life.</dd>
			'})|raw}}

			{{widget('content', 'faq-offline_themes', {"content":'
				<dt>Can I build themes offline?</dt>
				<dd>Our BaseKit Theme Viewer works offline so you can get cracking on the code anywhere, anytime.</dd>
				<dd>Download the BaseKit Theme Viewer <a href="http://docs.basekit.com/getting-started/local-development/">here.</a></dd>
			'})|raw}}

			{{widget('content', 'faq-feature_limit', {"content":'
				<dt>Can I limit the features that my client has access to?</dt>
				<dd>Yes you can, BaseKit allows you to code in the features you want your client to have access to. This will limit the control your client has on the design and content within the live site.</dd>
			'})|raw}}

			{{widget('content', 'faq-add_fonts', {"content":'
				<dt>How can I add my own fonts?</dt>
				<dd>Adding a custom font in BaseKit is just like adding fonts in any other website or theme, you’ll use the same coding techniques here in BaseKit.</dd>
			'})|raw}}

			{{widget('content', 'faq-move_to_basekit', {"content":'
				<dt>What if I have a website with another service that I want to move to BaseKit? </dt>
				<dd>BaseKit allows you to import WordPress blogs into the blog function by following these 3 steps:</dd>
				<ol>
					<li>In the Editor (You’ll need to sign up for access to the Editor, if you haven’t done this already you can do so here), you’ll see the blog icon down the left hand side of the Editor interface, please click on that and it will take you to this screen below:
					</li>
					<li>On the left hand side menu you’ll see the WordPress Import button, please click that.
					</li>
					<li>You will now need to choose the file you wish to import, decide on whether you would like to publish the imported posts or not, then once complete simply click the import button.</li>
			'})|raw}}

			{{widget('content', 'faq-multiple_logins', {"content":'
				<dt>Can I have multiple users/logins?</dt>
				<dd>Currently it’s best to use an email address and password that is safe and suitable for your client to use. BaseKit does not limit the amount of developer accounts you can have, so please feel free to sign up for as many new accounts as you like.</dd>
			'})|raw}}

			{{widget('content', 'faq-seo', {"content":'
				<dt>Can I add analytics and SEO?</dt>
				<dd>The best way to do this within BaseKit is simply through coding. You will need to add your tracking code before the closing tag, located at the bottom of your theme.
				The product will advise you on the best place to insert this if you are unsure.</dd>
			'})|raw}}

			{{widget('content', 'faq-domain-mapping', {"content":'
				<dt>How can I map my clients domain?</dt>
				<dd>You can map custom domains to a BaseKit site easily.
				To do this you’ll need to go to the manage section within the Editor’s left hand side menu.</dd>
				<dd>You should now be able to see the link ‘Domain mapping’. Click this link and follow the instructions.</dd>
				<dd>If you cannot see the ‘Domain mapping’ link, please check that your current package has the ability to ‘Map your own domain’.</dd>
				<dd>To check your package features please click the ‘Upgrades’ link within the Editor.</dd>
				<dd>The Upgrades link will take you to the below page. You’ll be able to choose the correct package for custom domains here.</dd>
			'})|raw}}

		</dl>

		<nav class="faq-subnav">
			{{widget('content', 'faq-navigation-title', {"content":'
				<h5>Navigate</h5>
			'})|raw}}
			<ul>
				<li><a data-scroll href="#getting-started">Getting started</a></li>
				<li><a data-scroll href="#support">Support</a></li>
				<li><a data-scroll href="#theme-building">Theme building</a></li>
			</ul>
		</nav>

	</div>
</div>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}
