{% extends "layout.twig" %}

{% block content %}


<!--- HEADER - FEATURE -->

{% include 'includes/header-large.twig' %}


<!-- MAIN SECTION -->

<div role="main" class="main">

	<!-- Technologies Section -->
	<section class="technology">
		<div class="container">

			<div class="row">
				<div class="twelve columns text-center">
					{{widget('content', 'technology-heading', {"content":'<h2>Build the way you want</h2><h4>Drop the learning curve and use the tools you love to create the sites you want.</h4>'})|raw}}
				</div>
			</div>

			<!-- Technologies Slider -->
    		{% include 'includes/tech-slider.twig' %}

		</div>
	</section>


	<!-- Developer Resources Section -->
	<section class="resources">
		<div class="container">

			<div class="row">
				<div class="twelve columns text-center">
					{{widget('content', 'resources-heading-1', {"content":'<h2>Hassle free web building</h2><h4>A simple set up, painless building and an effortless way to publish your site.</h4>'})|raw}}
				</div>
			</div>

			<div class="row">
				<ul>

					<li>
						<a href="//docs.basekit.com">
							<div class="resources-icon">
								<svg width="62px" height="50px">
								    <switch>
								        <use xlink:href="#documentation"></use>
								    </switch>
								</svg>
							</div>

							{{widget('content', 'resources-heading-2', {"content":'<h3>Documentation</h3><p>Stuck at step one? Hit a wall while building? We’ve got documentation for that. Read our growing collection of guides and problem solvers here.</p>'})|raw}}
						</a>
					</li>

					<li>
						<div class="resources-icon">
							<svg width="62px" height="70px">
							    <switch>
							        <use xlink:href="#time-saving"></use>
							    </switch>
							</svg>
						</div>

						{{widget('content', 'resources-heading-3', {"content":'<h3>Reduce development time</h3><p>Our large selection of templates will mean you can get building with speed, or simply start from scratch with our Baseplate.</p>'})|raw}}
					</li>

					<li>
						<a href="//knowledge.basekit.com">
							<div class="resources-icon">
								<svg width="62px" height="50px">
								    <switch>
								        <use xlink:href="#knowledge"></use>
								    </switch>
								</svg>
							</div>

							{{widget('content', 'resources-heading-4', {"content":'<h3>Knowledge</h3><p>Question the team thats builds with BaseKit everyday. Our experts are here to support you.</p>'})|raw}}
						</a>
					</li>
					<li>
						<div class="resources-icon">
							<svg width="60px" height="60px">
							    <switch>
							        <use xlink:href="#control"></use>
							    </switch>
							</svg>
						</div>

						{{widget('content', 'resources-heading-5', {"content":'<h3>Flexbility and ultimate control</h3><p>The power is in your hands to give your clients as much, or as little, editing control as you like. Design your way.</p>'})|raw}}
					</li>
					<li>
						<a href="/faq">
							<div class="resources-icon">
								<svg width="62px" height="60px">
								    <switch>
								        <use xlink:href="#faq"></use>
								    </switch>
								</svg>
							</div>
							{{widget('content', 'resources-heading-6', {"content":'<h3>FAQs</h3><p>We promise this page won’t collect virtual dust! It’s regularly updated with your latest questions.</p>'})|raw}}
						</a>
					</li>
					<li>
						<div class="resources-icon">
							<svg width="60px" height="75px">
							    <switch>
							        <use xlink:href="#work-smarter"></use>
							    </switch>
							</svg>
						</div>

						{{widget('content', 'resources-heading-7', {"content":'<h3>Work smarter, not harder</h3><p>Our Template viewer works offline to enable you to create and update your code no matter where you are.</p>'})|raw}}
					</li>
				</ul>
			</div>

		</div>
	</section>



	<!-- THEME SHOWCASE SECTION -->

	<section class="theme-showcase">
		<div class="container">

			<div class="row">
				<div class="twelve columns text-center">
					{{widget('content', 'showcase-heading', {"content":'<h2>Template showcase</h2><h4>Designed with you and your clients in mind.</h4>'})|raw}}
				</div>
			</div>

			<!-- Theme Showcase Slider !-->
    		{% include 'includes/theme-slider.twig' %}

		</div>
	</section>



	<!-- FEATURES -->

	<section class="features">
		<div class="container">

			<div class="row">
				<div class="six columns">
					{{widget('content', 'features-heading-1', {"content":'<h2>Client friendly solutions</h2>'})|raw}}
					{{widget('content', 'features-content-1', {"content":'<p>We understand that your customers all have different desires, whether it’s needing somewhere to have their voice heard online, an authentic looking menu for their busy restaurant or a shop to sell products online - let us help you find the right solution.</p>'})|raw}}
				</div>
				<div class="six columns features-illustrations">

					<div class="features-icon">
						<svg width="160px" height="125px">
						    <switch>
						        <use xlink:href="#ecommerce-icon"></use>
						    </switch>
						</svg>
					</div>

					<div class="features-icon">
						<svg width="150px" height="150px">
						    <switch>
						        <use xlink:href="#blog-icon"></use>
						    </switch>
						</svg>
					</div>

					<div class="features-icon">
						<svg width="155px" height="120px">
						    <switch>
						        <use xlink:href="#menu-icon"></use>
						    </switch>
						</svg>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="six columns features-illustrations">

					<div class="features-icon">
						<svg width="155px" height="145px">
						    <switch>
						        <use xlink:href="#drag-and-drop"></use>
						    </switch>
						</svg>
					</div>

					<div class="features-icon">
						<svg width="155px" height="115px">
						    <switch>
						        <use xlink:href="#customer-support"></use>
						    </switch>
						</svg>
					</div>

					<div class="features-icon">
						<svg width="145px" height="110px">
						    <switch>
						        <use xlink:href="#image-editing"></use>
						    </switch>
						</svg>
					</div>

				</div>
				<div class="six columns">
					{{widget('content', 'features-heading-2', {"content":'<h2>A powerful, easy to use CMS</h2>'})|raw}}
					{{widget('content', 'features-content-2', {"content":'<p>BaseKit offers your client full customer support, photo editing and live editing with drag and drop capabilities, all without the need for unreliable plugins. Handing over a website to your clients has never been easier.</p>'})|raw}}
				</div>
			</div>

		</div>
	</section>

</div>



<!-- FOLLOW US -->

<a href="https://twitter.com/basekit" target="_blank">
	<section class="follow-us">
		<div class="container">
			<div class="row">

				<div class="twelve columns text-center">
						{{widget('content', 'follow-us-content', {content: '<p>Follow us <span>@basekit</span></p>'})|raw}}
				</div>

			</div>
		</div>
	</section>
</a>



<!-- SIGN UP -->

<section class="sign-up">
	<div class="container">

		<div class="row">
			<div class="twelve columns text-center">
				{{widget('content', 'signin-heading', {"content":'<h2>Get Started</h2>'})|raw}}
				{{widget('content', 'signin-button', {"content":'<a href="#signup" class="button large green">Sign Up</a><p>Already have an account? <a href="#login">Sign in here</a></p>'})|raw}}
			</div>
		</div>

	</div>
</section>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}

{% block scripts %}

	<!-- SLIDER JS -->
	<script src="{{asset('js/swiper.min.js')}}"></script>

{% endblock %}
