<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ page.title }}</title>

        <meta name="keywords" content="{{ page.keywords }}" />
		<meta name="description" content="{{ page.description }}" />
		<meta http-equiv="content-language" content="{{ page.seoLang }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include "includes/favicon.twig" %}

        <!-- TYPEKIT FONTS -->

        <script src="//use.typekit.net/olx1xsg.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

		{% include basekit.headScript %}
        {% include 'images/illustrations/tech-icons.twig' %}

    </head>

    <body class="{{ page.backgroundClass }}">

    {% block content %}
	{% endblock %}

	{% include basekit.bodyScript %}

    <!-- JQUERY & MODERNIZR -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    {% block scripts %}
    {% endblock %}

    <!-- JS SCRIPTS -->
    
    <script src="{{asset('js/main.js')}}"></script>

    </body>
</html>
