<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ page.title }}</title>

        <meta name="keywords" content="{{ page.keywords }}" />
		<meta name="description" content="{{ page.description }}" />
		<meta http-equiv="content-language" content="{{ page.seoLang }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if site.favicon %}
			<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
			<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
		{% endif %}

		{% include basekit.headScript %}
        {% include 'images/illustrations/tech-icons.twig' %}

    </head>

    <body class="{{ page.backgroundClass }}">

    {% block content %}
	{% endblock %}

    <!-- JQUERY & MODERNIZR -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- SLIDER & MAIN DEPENDANCIES -->
    
    <script src="{{asset('js/swiper.min.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>

    {% block scripts %}
    {% endblock %}

	{% include basekit.bodyScript %}

    </body>
</html>
